<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Note List</title>
</head>
<body>
<main role="main">

    <section layout:fragment="body" class="album py-5 bg-light">
        <div class="container">
            <div>
                <form th:action="@{/notes/search}" class="form-inline my-2 my-lg-0 mb-3">
                    <input name="query" class="form-control mr-sm-2 mb-5" type="search" placeholder="Search" aria-label="Search">
                </form>
            </div>

            <div class="row">
                <div th:each="note : ${notes}" class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <p class="card-text fw-bold" th:text="${note.title}"></p>
                            <p class="card-text" th:text="${note.content}"></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-sm btn-outline-secondary" th:href="@{|/notes/edit/${note.id}|}">Edit</a>
                                    <a class="btn btn-sm btn-outline-secondary" th:href="@{|notes/delete/${note.id}|}">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
</body>
</html>
